// Small Mobile
$breakpoint-sm-mobile: 320px;

// Large Mobile / Small Tablet
$breakpoint-mobile-lg: 480px;

// Tablet (Portrait)
$breakpoint-tablet: 768px;

// Small Desktop / Tablet (Landscape)
$breakpoint-desktop-sm: 1024px;

// Medium Desktop
$breakpoint-desktop-md: 1280px;

// Large Desktop
$breakpoint-desktop-lg: 1440px;

// Extra Large Desktop
$breakpoint-desktop-xl: 1920px;