// Primary Colors


// Background Colors
$start_menu_background: #e4d8c2;

// Color Palette
$crimson_red: #E13763; // Pinkish Red
$blue_ncs: #0081C8; // Bluish Cyan
$midnight_blue: #00408E; // Cyan Blue
$indigo: #5D0178; // Purple Magenta
$philippine_violet: #8A0079; // Reddish Magenta
$giants_orange: #ff5722; // Bright Warm Orange
$vivid_cerulean: #03a9f4; // Light Blue

// Vivid Sunset Colors
$pigment_blue: #2A3195;
$maximum_red_purple: #A93583;
$cerise: #DA3361;
$sunset_orange: #F65D4E;
$royal_orange: #F39943;
$sandstorm: #EED73F;

// Vivid Mood Colors
$vivid_yellow: #FFE200;
$radical_red: #FE306F;
$vivid_mulberry: #B91EE1;
$vivid_lime_green: #A7D707;
$vivid_cerise: #DD2781;
$yellow_orange: #FF9202;

// Vivid Matrix Colors
$orange_red: #FF621B;
$dark_violet: #9400DD;
$crayola_blue: #2E79FF;
$malachite: #18E261;
$daffodil: #FFFF2D;
$vivid_sky_blue: #10DBFE;

// Vivid Pinks & Blues
$process_magenta: #FF0092;
$shocking_pink: #FC09C8;
$crayolas_shocking_pink: #FF68FE;
$crayolas_blue: #1C80FE;
$ryb_blue: #004AFE;
$celtic_blue: #1E6DC7;
$pigment_violet: #402BAB;
$cadmium_violet: #8E31AA;
$raspberry_pink: #E34F9C;

// Basic Colors
$black: #000000;
$gray: #c7c7c7;
$white: #FFFFFF;

// Misc Colors
$neutral-lightest: #f5f5f5;
$neutral-lighter: #ebebeb;
$neutral-light: #e4e4e4;
$neutral-mid: #cfcfcf;
$neutral: #bcbcbc;
$neutral-dark: #6a6a6a;
$neutral-darker: #4a4a4a;
$neutral-darkest: #323232;

$link-color: #086274;
$base-text: #212121;
$main-background: #f2f2f2;
$disabled-text: #bbbbbb;
$amber: #f47b19;
$black-semi-transparent: #00000080;

// Padding & Margin
$spacing-xxxs: 2px;
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;

$padding-xxxs: $spacing-xxxs;
$padding-xxs: $spacing-xxs;
$padding-xs: $spacing-xs;
$padding-sm: $spacing-sm;
$padding-md: $spacing-md;
$padding-lg: $spacing-lg;
$padding-xl: $spacing-xl;
$padding-xxl: $spacing-xxl;
$padding-xxxl: $spacing-xxxl;

$margin-xxxs: $spacing-xxxs;
$margin-xxs: $spacing-xxs;
$margin-xs: $spacing-xs;
$margin-sm: $spacing-sm;
$margin-md: $spacing-md;
$margin-lg: $spacing-lg;
$margin-xl: $spacing-xl;
$margin-xxl: $spacing-xxl;
$margin-xxxl: $spacing-xxxl;

// Font Styles & Imports
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
$fontStyle_bitter: 'Bitter', serif;

