.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Nav {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 999;
}

.NavDiv {
  height: 10vh !important
  /* height: 15vh !important */
}

.NavTitle {
  font-family: Girassol;
  font-size: 52px;
}

.NavTitle:hover {
  letter-spacing: 4px;
  font-size: 56px;
  color: #39627F
}

.socialContact {
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 10px;
}

.socialContact:hover {
  background-color: #39627F
}

.Projects:hover {
  background-color: #39627F !important
}

.HorizontalLine {
  height: 1px;
  background-color: #39627F;
}

.AnimatedVerticalLineLeft {
  height: 74vh !important;
  width: 3px !important;
  background-color: #39627F;
}

.DylansInfo {
  background-color: black;
  height: 74vh !important;
  width: 80vw !important;
  margin-left: 2vw
}

.HomeSidePicture {
  height: 74vh !important;
  width: 18vw !important;
  background-image: url("./Images/vertical-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}