.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Rubik';
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Nav {
  /* background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)); */
  z-index: 2 !important;
  /* position: absolute !important; */
}

.NavDiv {
  height: 10vh !important;
  /* z-index: 2 !important; */
  /* position: relative !important; */
  /* height: 15vh !important */
}

.NavTitle {
  /* font-family: Girassol; */
  font-size: 52px;
}

.NavTitle:hover {
  /* letter-spacing: 4px; */
  /* font-size: 56px; */
  color: #39627F
}

.socialContact {
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 10px;
}

.socialContact:hover {
  background-color: #39627F
}

.ProjectsButton:hover {
  background-color: #39627F !important;
}

.HorizontalLine {
  height: 1px;
  background-color: #39627F;
}

.AnimatedVerticalLineLeft {
  height: 74vh !important;
  width: 3px !important;
  background-color: #39627F;
}

.DylansInfoPicture {
  /* background-color: rgb(255, 255, 255); */
  height: 70vh !important;
  width: 75vw !important;
  margin-left: 4.3vw;
  margin-top: 2vh;
  /* padding-right: 18vw !important; */
  /* background-image: url("./Images/home-background.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* opacity: 0.4; */
  /* margin: auto; */
}

.HomeSidePicture {
  height: 74vh !important;
  width: 18vw !important;
  background-image: url("./Images/vertical-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.DylansInfoPictureDiv {
  height: 74vh !important;
  width: 82vw !important;
}

.ScrolldownAnimation {
  background-color: white;
  height: 50px !important;
  width: 2.5px !important;
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}

.Scrolldown {
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.TopLeftPicture {
  background-image: url("./Images/home-background.jpg");
  width: 30vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.BottomRightPicture {
  background-image: url("./Images/home-background.jpg");
  width: 30vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.MiddlePicture {
  width: 30vw;
  height: 40vh;
  background-image: url("./Images/home-background-cropped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.TopRightBlueDiv {
  background-color: #39627F;
  width:35vw;
  height: 30vh;
  /* opacity: .5; */
}

.BottomRightBlueDiv {
  background-color: #39627F;
  width:25vw;
  height: 50vh;
}

.Projects {
  background-color: black;
  height: 100vh !important;
  width: 100vw !important;
  margin-top: 2vh;
  overflow: hidden;
}

.DungeonDive {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.MainMenuPicture {
  background-image: url("./Images/dungeon-dive-main-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 30vw;
  position: relative;
  z-index: 1;
}

.CombatMapPicture {
  background-image: url("./Images/dungeon-dive-combat-map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 30vw;
  position: relative;
  top: -37vh;
  position: relative;
  z-index: 1 !important;
}

.CharactersGif {
  background-image: url("./Images/dungeon-dive-characters.gif");
  background-repeat: no-repeat;
  background-size: 50%;
  height: 12vh;
  width: 30vw;
  position: relative;
  z-index: 1 !important;
  left: 20vw;
  bottom: 162vh;
}

.MainTitle {
  background-image: url("./Images/dungeon-dive-title.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 12vh;
  width: 53vw;
  margin-left: 25vw;
  position: relative;
  z-index: 1 !important;
  top: 1vh;
}

.CenterRedDiv {
  background-color:#a31622ab;
  width: 60vw;
  height: 30vh;
  /* z-index: 2 !important; */
}

.RightBlueDiv {
  background-color: #39627F;
  width: 35vw;
  height: 70vh;
}

.BottomLeftDiv {
  width: 25vw;
  height: 20vh;
  background-color: white;
  position: relative;
  bottom: 48vh;
  left: 15vw;
}

.MainInfo {
  position: relative;
  z-index: 1 !important;
  width: 30vw;
  color: white;
  top: 4.3vh;
  left: 2vw;
}

.SmallKeyFeatures {
  /* background-color: red; */
  width: 50vw;
  height: 20vh;
  position: relative;
  z-index: 1 !important;
  left: 10vw;
  color: white;
}

.LargeKeyFeature {
  width: 40vw;
  height: 20vh;
  position: relative;
  z-index: 1 !important;
  left: 55vw;
  bottom: 35vh;
  color: rgb(255, 255, 255);
}

.MainInfoText {
  font-size: 32px
}

.Title {
  color: white;
  font-size: 100px;
}

/* Screen Size around 15inch macbook */
@media screen and (max-width: 1540px) and (max-height: 870px) {
  .Title {
    font-size: 84px !important
  }
  .TopRightInfoText {
    font-size: 40px !important;
  }
  .TopRightInfoTextBottom {
    font-size: 48px !important;
    position: relative;
    left: 1vw;
    bottom: 1vh
  }
  .GrayDiv {
    position: relative;
    top: 2.5vh;
    right: 1.5vw;
  }
  .Plan {
    position: relative;
    bottom: 3vh;
  }
  .Design {
    position: relative;
    bottom: 3vh;
  }
  .Build {
    position: relative;
    bottom: 3vh;
  }
  .Create {
    position: relative;
    bottom: 3vh;
  }
  .ScrolldownText {
    position: relative;
    left: .25vw
  }
}

/* Screen Size around 13inch macbook */


/* Screen Size around Macbook air */
@media screen and (max-width: 1450px) and (max-height: 770px) {
  .Title {
    font-size: 72px;
  }
  .TopRightInfoText {
    font-size: 36px !important;
  }
  .TopRightInfoTextBottom {
    font-size: 44px !important;
    position: relative;
    bottom: .5vh;
  }
  .GrayDiv {
    position: relative;
    top: 1.4vh;
    right: 2vw;
  }
  .Plan {
    position: relative;
    bottom: 4vh;
    font-size: 48px !important;
  }
  .Design {
    position: relative;
    bottom: 5vh;
    font-size: 48px !important;
  }
  .Build {
    position: relative;
    bottom: 6vh;
    font-size: 48px !important;
  }
  .Create {
    position: relative;
    bottom: 7vh;
    font-size: 72px !important;
  }
  .ScrolldownText {
    position: relative;
    left: .25vw;
    bottom: 1.5vh;
    font-size: 14px;
  }
  .MainInfoText {
    font-size: 24px !important;
  }
  /* .LargeKeyFeatureText {
    font-size: 36px !important;
  } */
  .SmallKeyFeaturesText {
    font-size: 36px !important;
    position: relative;
    right: 5vw;
    top: 2vh
  }
}

/* @media screen and (max-height: 928px) {
  .TopRightInfoText{
    font-size: 36px !important;
    position: relative;
    left: 2vw;
    top: 2vh;
  }
  .TopRightInfoTextBottom {
    font-size: 50px !important;
    position: relative;
    bottom: 1.5vh;
  }
  .GrayDiv {
    position: relative;
    top: 2vh
  }
  .MainInfoText {
    position: relative;
    bottom: 3vh;
  }
}

@media screen and (max-width: 1825px) {
  .SmallKeyFeaturesText {
    position: relative;
    right: 1vw;
  }
}

@media screen and (max-height: 850px) {
  .TopRightInfoText {
    font-size: 36px !important;
    position: relative;
    left: 2vw;
    top: -.5vh;
  }
  .TopRightInfoTextBottom {
    font-size: 50px !important;
    position: relative;
    bottom: .5vh;
  }
}

@media screen and (max-width: 1570px) {
  .SmallKeyFeaturesText {
    position: relative;
    right: 20vw;
  }
  .MainMenuPicture {
    height: 28vh;
    width: 28vw;
  }
  .CombatMapPicture {
    height: 28vh;
    width: 28vw;
  }
  .BottomLeftDiv {
    width: 25vw;
    height: 20vh;
    background-color: white;
    position: relative;
    bottom: 47vh;
    left: 15vw;
  }
  .CenterRedDiv {
    background-color:#a31622ab;
    width: 60vw;
    height: 31vh;
  }
  .MainInfoText {
    font-size: 28px;
    position: relative;
    top: -2vh;
  }
  .TopRightInfoTextBottom {
    position: relative;
    bottom: 1.5vh;
    right: 1vw;
  }
  .Title {
    position: relative;
    bottom: 1.5vh
  }
}

@media screen and (max-width: 1350px) {
  .Title {
    position: relative;
    bottom: .5vh;
    font-size: 78px;
  }
  .TopRightInfoText {
    font-size: 26px !important;
    position: relative;
    left: .5vw;
    top: 1.3vh;
  }
  .TopRightInfoTextBottom {
    font-size: 40px !important;
    position: relative;
    bottom: 1vh;
    left: 1vw
  }
  .Plan {
    position: relative;
    bottom: 3vh;
    font-size: 48px
  }
  .Design {
    position: relative;
    bottom: 4vh;
    font-size: 48px
  }
  .Build {
    position: relative;
    bottom: 5vh;
    font-size: 48px
  }
  .Create {
    position: relative;
    bottom: 7vh;
    font-size: 72px !important
  }
  .ScrolldownText {
    position: relative;
    left: .5vw;
    font-size: 14px
  }
} */

/* @media screen and (max-height: 800), (max-width: 1375px) {
  .Title {
    position: relative;
    bottom: 1vh;
    font-size: 66px;
  }
  .TopRightInfoText {
    font-size: 26px !important;
    position: relative;
    left: .5vw;
    top: .5vh;
  }
  .TopRightInfoTextBottom {
    font-size: 36px !important;
    position: relative;
    bottom: -.5vh;
    left: 1vw
  }
  .ScrolldownText {
    position: relative;
    left: .5vw;
    top: 1vh;
    font-size: 12px
  }
  .ProjectText {
    font-size: 18px !important;
  }
  .ProjectsDiv {
    position: relative;
    bottom: .5vh;
  }
  .Plan {
    position: relative;
    bottom: 5vh;
    font-size: 36px
  }
  .Design {
    position: relative;
    bottom: 9vh;
    font-size: 36px
  }
  .Build {
    position: relative;
    bottom: 12vh;
    font-size: 36px
  }
  .Create {
    position: relative;
    bottom: 14vh;
    font-size: 60px !important
  }
  .GrayDiv {
    position: relative;
    top: -.2vh
  }
  .BottomLeftDiv {
    width: 25vw;
    height: 20vh;
    background-color: white;
    position: relative;
    bottom: 44vh;
    left: 15vw;
  }
  .CenterRedDiv {
    background-color: #a31622ab;
    width: 60vw;
    height: 31vh;
    position: relative;
    bottom: -3vh
  }
  .CombatMapPictureDiv {
    position: relative !important;
  }
  .MainInfoText {
    font-size: 24px !important
  }
  .SmallKeyFeaturesText {
    position: relative;
    right: 18vw;
    top: 3vh;
    font-size: 32px !important;
  }
  .LargeKeyFeatureText {
    font-size: 24px !important;
    position: relative;
    right: 4vw;
  }
} */

/* @media screen and (max-height: 550), (max-width: 1000px) {
  .Title {
    position: relative;
    bottom: 1.25vh;
  }
  .ProjectText {
    font-size: 16px !important;
  }
  .ProjectsDiv {
    position: relative;
    bottom: .75vh;
  }
  .TopRightInfoText {
    position: relative;
    top: 01vh !important;
  }
  .TopRightInfoTextBottom {
    font-size: 30px !important;
    position: relative;
    bottom: -1vh;
  }
  .Plan {
    position: relative;
    bottom: 8vh;
    font-size: 36px
  }
  .Design {
    position: relative;
    bottom: 13vh;
    font-size: 36px
  }
  .Build {
    position: relative;
    bottom: 17vh;
    font-size: 36px
  }
  .Create {
    position: relative;
    bottom: 19vh;
    font-size: 60px !important
  }
  .GrayDiv {
    position: relative;
    left: 2vh
  }
  .ScrolldownText {
    position: relative;
    left: 1vw;
    top: 1vh;
    font-size: 12px
  }
  .BottomLeftDiv {
    width: 25vw;
    height: 20vh;
    background-color: white;
    position: relative;
    bottom: 44vh;
    left: 15vw;
  }
  .CenterRedDiv {
    background-color: #a31622ab;
    width: 60vw;
    height: 31vh;
    position: relative;
    bottom: -3vh
  }
  .RightBlueDiv {
    position: relative;
    bottom: 3vh;
  }
  .MainInfoText {
    font-size: 20px !important
  }
  .SmallKeyFeaturesText {
    font-size: 24px !important;
  }
  .SmallKeyFeatures {
    position: relative;
    top: 1vh
  }
  .LargeKeyFeatureText {
    font-size: 20px !important
  }
} */