.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Rubik'
  /* font-family: Girassol; */
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Nav {
  /* background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)); */
  z-index: 2 !important;
  /* position: absolute !important; */
}

.NavDiv {
  height: 10vh !important;
  /* z-index: 2 !important; */
  /* position: relative !important; */
  /* height: 15vh !important */
}

.NavTitle {
  /* font-family: Girassol; */
  font-size: 52px;
}

.NavTitle:hover {
  letter-spacing: 4px;
  font-size: 56px;
  color: #39627F
}

.socialContact {
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 10px;
}

.socialContact:hover {
  background-color: #39627F
}

.ProjectsButton:hover {
  background-color: #39627F !important
}

.HorizontalLine {
  height: 1px;
  background-color: #39627F;
}

.AnimatedVerticalLineLeft {
  height: 74vh !important;
  width: 3px !important;
  background-color: #39627F;
}

.DylansInfoPicture {
  /* background-color: rgb(255, 255, 255); */
  height: 70vh !important;
  width: 75vw !important;
  margin-left: 4.3vw;
  margin-top: 2vh;
  /* padding-right: 18vw !important; */
  /* background-image: url("./Images/home-background.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* opacity: 0.4; */
  /* margin: auto; */
}

.HomeSidePicture {
  height: 74vh !important;
  width: 18vw !important;
  background-image: url("./Images/vertical-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.DylansInfoPictureDiv {
  height: 74vh !important;
  width: 82vw !important;
}

.ScrolldownAnimation {
  background-color: white;
  height: 50px !important;
  width: 2.5px !important;
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}

.Scrolldown {
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.TopLeftPicture {
  background-image: url("./Images/home-background.jpg");
  width: 30vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.BottomRightPicture {
  background-image: url("./Images/home-background.jpg");
  width: 30vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.MiddlePicture {
  background-image: url("./Images/home-background-cropped.jpg");
  width: 30vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.TopRightBlueDiv {
  background-color: #39627F;
  width:35vw;
  height: 30vh;
  /* opacity: .5; */
}

.BottomRightBlueDiv {
  background-color: #39627F;
  width:25vw;
  height: 50vh;
}

.Projects {
  background-color: rgba(255, 255, 255, 0.808);
  height: 100vh !important;
  width: 100vw !important;
  margin-top: 2vh;
}
